# deps
node_modules/
*/node_modules/

# env
.env
server/.env
*.local

# build
dist/
build/
client/dist/
server/dist/

# db
*.sqlite
*.db
server/src/prisma/migrations/dev.db*

# logs / misc
*.log
npm-debug.log*
.DS_Store
.vscode/*
!.vscode/extensions.json
coverage/
